@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #424549;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Georgia, Arial, Helvetica, sans-serif;
}

.bg-red {
  background-color: #dd3e3e;
}

.bg-blue {
  background-color: #88d6ff;
}

.text-red {
  color: #dd3e3e;
}

.text-blue {
  color: #88d6ff;
}
