@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #424549;
  }
} */

body {
  background: var(--background);
  color: var(--color-gray-800);
  font-family: Georgia, Arial, Helvetica, sans-serif;
}

.bg-red {
  background-color: #dd3e3e;
}

.bg-blue {
  background-color: #88d6ff;
}

.text-red {
  color: #dd3e3e;
}

.text-blue {
  color: #88d6ff;
}

.outline-red {
  outline-color: #dd3e3e;
}

.outline-blue {
  outline-color: #88d6ff;
}
