@import "tailwindcss";

:root {
  --background: #111111;
  --primary-text-color: var(--color-gray-300);
  --accent-color: #9966ee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #424549;
  }
} */

body {
  background: var(--background);
  color: var(--primary-text-color);
  font-family: Georgia, Arial, Helvetica, sans-serif;
}

.bg-red {
  background-color: #dd3e3e;
}

.bg-blue {
  background-color: #88d6ff;
}

.text-red {
  color: #dd3e3e;
}

.text-blue {
  color: #88d6ff;
}

.hover\:text-blue:hover {
  color: #60a5fa;
}

.border-red {
  border-color: #dd3e3e;
}

.border-blue {
  border-color: #88d6ff;
}
