@import "tailwindcss";

:root {
  --background: #111111;
  --primary-text-color: var(--color-gray-300);
  --accent-color: #9966ee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #424549;
  }
} */

/* Always use dark scrollbars */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a; /* dark track */
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;  /* dark thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a #0a0a0a; /* thumb | track */
}

body {
  background: var(--background);
  color: var(--primary-text-color);
  font-family: Georgia, Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Roboto;
  letter-spacing: 2.5;
}